:root {
  --gold-darker: #b8860b;
  --gold-dark: #cc9900;
  --gold-mid: #ecbd00;
  --gold-light: #ffcc00;
  --gold-lighter: #ffdf00;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.puns {
  z-index: 10;
  color: #fff;
  position: absolute;
  top: 85%;
  left: 3%;
  translate: translate(-3%, -85%);
}

.pun {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  background: linear-gradient(
    to right,
    var(--gold-darker),
    var(--gold-dark),
    var(--gold-mid),
    var(--gold-lighter),
    var(--gold-light),
    var(--gold-darker)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 3s linear infinite;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
